process {

    publishDir = [
        path: { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" },
        mode: params.publish_dir_mode,
        saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
    ]

	withName: CONCATMITO_CONCATMITO {
        	publishDir = [
	            path: { "${params.outdir}/1_remake_genome_fasta" },
        	    mode: params.publish_dir_mode,
	            pattern: 'reference_database.fa'
       		]
	}

	withName: MINIMAP2_INDEX {
	
	        publishDir = [
	            path: { "${params.outdir}/2_indexed_ref_genome" },
	            mode: params.publish_dir_mode,
	            pattern: 'reference_database.mmi'
	        ]
	    }
	
	withName: MINIMAP2_ALIGN {
		ext.args   = params.sequencing_type == "Nanopore" ? "-ax map-ont" : "-ax map-hifi" 
                publishDir = [
                    path: { "${params.outdir}/3_minimap2_mapping" },
                    mode: params.publish_dir_mode,
                    pattern: '*.bam'
                ]
            }

	withName: SAMTOOLS_SORT {
                ext.prefix = "${params.sample}_all.sorted"
                cpus = 8
                publishDir = [
                    path: { "${params.outdir}/4_samtools_processing" },
                    mode: params.publish_dir_mode,
                    pattern: '*_all.sorted.bam'
                ]

        }

	
	withName: SAMTOOLS_VIEW {
		ext.args   = "-b -F 0x800 -F 0x100 -@ 8"
		ext.prefix = "${params.sample}${params.sample}"
		publishDir = [
                    path: { "${params.outdir}/4_samtools_processing" },
                    mode: params.publish_dir_mode,
                    pattern: '*.bam'
                ]

	}

	withName: SAMTOOLS_SORT2 {
		ext.prefix = "${params.sample}_no_secondary_supplementary.sorted"
		cpus = 8
		publishDir = [
                    path: { "${params.outdir}/4_samtools_processing" },
                    mode: params.publish_dir_mode,
                    pattern: '*_no_secondary_supplementary.sorted.bam'
                ]

	}

	withName: SAMTOOLS_STATS {
		publishDir = [
                    path: { "${params.outdir}/5_samtools_results" },
                    mode: params.publish_dir_mode,
                    pattern: '*.stats'
                ]

	}

	withName: SAMTOOLS_FLAGSTAT {
                publishDir = [
                    path: { "${params.outdir}/5_samtools_results" },
                    mode: params.publish_dir_mode,
                    pattern: '*.flagstat'
                ]

        }

	withName: SAMTOOLS_INDEX {
                publishDir = [
                    path: { "${params.outdir}/5_samtools_results" },
                    mode: params.publish_dir_mode,
                    pattern: '*.bai'
                ]

        }
	
	withName: SAMTOOLS_IDXSTATS {
                publishDir = [
                    path: { "${params.outdir}/5_samtools_results" },
                    mode: params.publish_dir_mode,
                    pattern: '*.idxstats'
                ]

        }

	withName: SAMTOOLSPOSTPROCESSING_SAMTOOLSPOSTPROCESSING {
                publishDir = [
                    path: { "${params.outdir}/6_summarised_results" },
                    mode: params.publish_dir_mode,
                    pattern: '*_results'
                ]
		publishDir = [
                    path: { "${params.outdir}/6_summarised_results" },
                    mode: params.publish_dir_mode,
                    pattern: '*.stats'
                ]


        }

        withName: SAMTOOLSALL_SAMTOOLSALL {
                publishDir = [
                    path: { "${params.outdir}/7_statstxt" },
                    mode: params.publish_dir_mode,
                    pattern: '*.txt'
                ]


        }



	withName: HISTOGRAM_HISTOGRAM {
                publishDir = [
                    path: { "${params.outdir}/8_histogram" },
                    mode: params.publish_dir_mode,
                    pattern: '*_all_stats_histogram.png'
                ]
                publishDir = [
                    path: { "${params.outdir}/8_histogram" },
                    mode: params.publish_dir_mode,
                    pattern: '*_all_stats.csv'
                ]
		publishDir = [
                    path: { "${params.outdir}/8_histogram" },
                    mode: params.publish_dir_mode,
                    pattern: '*_no_sec_supp_stats_histogram.png'
                ]
		publishDir = [
                    path: { "${params.outdir}/8_histogram" },
                    mode: params.publish_dir_mode,
                    pattern: '*_no_sec_supp_stats.csv'
                ]
                publishDir = [
                    path: { "${params.outdir}/8_histogram" },
                    mode: params.publish_dir_mode,
                    pattern: '*_no_sec_supp_stats_histogram_log.png'
                ]
                publishDir = [
                    path: { "${params.outdir}/8_histogram" },
                    mode: params.publish_dir_mode,
                    pattern: '*_all_stats_histogram_log.png'
                ]




        }



}
